html,body {
  width: 100%;
  height: 100%;
}
body {
  color: #676a6c;
  font-size: 14px;
}

.modal-dialog{
  z-index: 2000;
}
#wrapper{
  padding: 0;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.snow-bg {
  background-color: #FFFAFA;
}
.gray-bg {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.black-bg {
  background-color: #2c3e50;
}
.font-bold {
  font-weight: 600;
}
.text-white{
  color: #ffffff;
}
.text-dark{
  color: #676a6c;
}

.text-top{
  vertical-align: top !important;
}
.text-middle{
  vertical-align: middle !important;
}
.text-bottom{
  vertical-align: bottom !important;
}

.padding_0{
  padding: 0;
}
.block_mb20{
  margin-bottom: 20px;
}
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}
a.glyphicon:hover,
a.glyphicon:focus{
  text-decoration: none;
  color: #2f4050;
  outline: none;
}
.ui-datepicker {
  font-size: 14px;
  padding: 5px;
}
.ui-datepicker dd {
  margin-left: 15px;
}
.navbar-static-side.navbar-default {
  background:none;
  background-color:#2F4050;
  border-radius: 0;  
}
.loading{
  text-indent: 99999px;
  min-height: 16px;
  overflow: hidden;
  background:transparent url(/adm/images/loading_sm.gif) center center no-repeat;
}
#header .navbar-default {
  background-color:transparent;
}
#header .navbar-default li.active > a,
#header .navbar-default li > a:focus,
#header .navbar-default li > a:hover {
  background:none;
  color: #676a6c;
}
.navbar-static-side {
  position: fixed;
  width: 220px;
  height: 100%;
  z-index: 101;
  left: 0;
  top: 0;
}
#page-wrapper {
  margin: 0 0 0 220px;
  padding-bottom: 100px;
  position: inherit;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  background:none;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover{
  background: none;
  border-color: #2f4050;  
}
.nav-header {
  background-color: #233645;
  padding: 15px 0 15px 30px;
  background: url("/adm/images/header-profile.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.nav-header a {
  color: #dfe4ed;
}
.nav-header .dropdown {
  margin-top: 6px;
  font-size: 13px;
}
.nav-header a:hover,
.nav-header a:focus {
  text-decoration: none;
  outline: none;
}
#side-menu > li {
  border-left: 4px solid transparent;
}
#side-menu > li > a {
  color: #a7b1c2;
  padding: 14px 20px 14px 25px;
  white-space: nowrap;
}
#side-menu > li > a > span{
  display: inline-block;
  vertical-align: middle;
}
#side-menu > li:hover,
#side-menu > li.active,
#side-menu > li:focus {
  color: #ffffff;
  background-color: #293846;
}
#side-menu > li > a:hover,
#side-menu > li.active > a,
#side-menu > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
#side-menu > li.active {
  border-left: 4px solid #0079a1;
}
#side-menu > li.active > a {
  padding-left: 21px;
}
#side-menu > li > a > .glyphicon{
  padding-right:5px;
  font-size: 18px;
  top:-1px;
}
#side-menu .nav-header .dropdown .glyphicon{
  font-size: inherit;
}
#side-menu .nav-header .dropdown .glyphicon-align-justify{
  font-size: 12px;
  padding-right:0px; 
}
#side-menu > li > .submenu{
  margin-left: 20px;
}
#side-menu .submenu{
  list-style: disc;
  padding: 0px 0 0 25px;
}
#side-menu .submenu > li > a{
  color: #ffffff;
  display: block;
  padding: 0px 0 10px 0;
  text-decoration: none;
}
#side-menu .submenu > li > a:hover:before,
#side-menu .submenu > li.active > a:before,
#side-menu .submenu > li > a:focus:before {
  position:relative;
  top:0px;
  display:inline-block;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:normal;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  content: "\e013";
  margin-left: -19px;
  padding-right: 5px;
}
#side-menu .submenu > li.active > a:before{
  padding-right: 1px;
}
[data-toggle="dropdown"]{
  cursor: pointer;
}
.dropdown-menu {
  font-size: 12px;
}
.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  font-weight: normal;
  line-height: 25px;
  margin: 4px;
  padding: 5px 15px;
  text-align: left;
}
.item-list-heading-title {
  font-size: 16px;
}
.item-list-heading-title .glyphicon {
  padding-right: 5px;
}
.item-list .item-list-heading{
  border-bottom: 1px solid #ecf0f1;
}
#wrapper_autorization{
  height: 100%;
  display: table;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

#autorization .panel{
  background-color: #2F4050;
  color: #ffffff;
  padding: 10px 20px;
}
#autorization .panel-body{
  padding: 0;
}
#autorization{
  display: table-cell;
  vertical-align: middle;
  border-radius: 2px;
  padding: 20px;
}
#autorization .form-group{
  background-color: transparent;
}
#autorization .form-group label{
  font-size: 15px;
}

.block-title{
  margin-bottom: 20px;
  margin-right: 0;
  padding: 24px;
  border-bottom: 1px solid #e7eaec !important;
  background-color: #ffffff;
}
.block-title h1{
  margin: 0;
  font-size: 24px;
}

.container-menu .btn{
  margin-bottom: 20px;
}
.container-menu .btn a{
  color: #ffffff;
}
.container-menu .btn .glyphicon{
  font-size: 24px;
  margin-right: 5px;
}
.container-menu .btn .btn-title{
  margin-top: 5px;
}
.container-menu .btn .glyphicon,
.container-menu .btn .btn-title {
  display: inline-block;
  vertical-align: middle;
}

.list-group-item,
.list-group-item-head{
  list-style: none;
  padding: 5px;
}
.list-group-item-head{
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.list-group-item a {
  cursor: pointer;
  display: block;
}
.list-group-item .icon .glyphicon {
  display: none;
}
.list-group-item:nth-child(2n+1) {
  background-color: #f9f9f9;
}
.list-group-item.selected,
.list-group-item:hover,
.list-group-item:focus {
  background-color: #008CBA;
}
.list-group-item.selected > a,
.list-group-item.selected > .glyphicon,
.list-group-item:hover > a,
.list-group-item:hover > .glyphicon,
.list-group-item:focus > a,
.list-group-item:focus > .glyphicon,
.list-group-item.selected .buttons > a,
.list-group-item.selected .buttons > .glyphicon,
.list-group-item:hover .buttons > a,
.list-group-item:hover .buttons > .glyphicon,
.list-group-item:focus .buttons > a,
.list-group-item:focus .buttons > .glyphicon {
  color: #ffffff;
}
.list-group-item.selected .icon .glyphicon,
.list-group-item:hover .icon .glyphicon,
.list-group-item:focus .icon .glyphicon {
  display: block;
}
.list-group-item.selected .icon + [class^="col-"],
.list-group-item:hover .icon + [class^="col-"],
.list-group-item:focus .icon + [class^="col-"] {
  padding-left: 3px;
}
.list-group-item a:hover{
  text-decoration: none;
}
.list-group-item .buttons a{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

input[type="file"]{
  font-size: 12px;
}
.form-horizontal .control-label{
  text-align: left;
}
.form-group{
  margin-bottom: 10px;
}
.input-sm{
  height: 30px;
}

.form-control{
  font-size: 12px;
}
.form-group .help-block{
  color: #777;
  font-size: 11px;
  font-weight: normal;
}
.form-group:nth-child(2n+1) {
  background-color: #f6f6f6;
  padding: 5px 0;
}
.form_block .panel-heading{
  border-bottom: 1px solid #f6f6f6;
  padding: 10px 20px 0;
  margin-bottom: 5px;
}
.form_block .panel-heading h4 a{
  color: #676a6c;
  position: relative;
}
.form_block .panel-body{
  padding: 0 15px;
}
.form_block .btn{
  margin-left: 10px;
}

/*Форма товаров в акте приемки*/
.form_group_product_field{
  margin: 0 !important;
  width: 9%;
  float: left;
  padding: 5px 0;
  background: none !important;
}
.form_group_product_field.form_group_w15{
  width: 15%;
}
.form_group_product_field.form_group_w20{
  width: 20%;
}
.form_group_product_field.form_group_w30{
  width: 30%;
}
.form_group_product_field.form_group_w40{
  width: 40%;
}
.form_group_product_field.form_group_w50{
  width: 50%;
}
.form_group_product_field.form_group_w60{
  width: 60%;
}
.form_group_product_field.form_group_w70{
  width: 70%;
}
.form_group_product_field label{
  display: block;
  height: 40px;
  line-height: 12px;
}
.form_group_product_field > [class^="col"]{
  float: none;
  width: 100%;
  padding: 0 3px;
}
.form_group_product_field .sum_product{
  padding: 5px;
}
.form_group_product_field_btn{
  margin-top: 45px;
  margin-left: 5px;
}
.form_group_product_field_btn_m5{
  margin-top: 5px;
  margin-left: 5px;
}
.form_group_product_field .rest,
.form_group_product_field .rest_all{
  line-height: 30px;
}


#accordion .form_block .panel-heading h4 a:hover,
#accordion .form_block .panel-heading h4 a:focus{
  text-decoration: none;
}
#accordion .form_block .panel-heading h4 a[data-toggle="collapse"]:before{
  display: block;
  position: absolute;
  top:6px;
  left: -12px;
  content:"\e113";
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:normal;
  font-size: 8px;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
#accordion .form_block .panel-heading h4 a[aria-expanded="false"]:before{
  content: "\e114";
}
.panel-group .form_block .panel-heading+.panel-collapse>.panel-body,
.panel-group .form_block .panel-heading+.panel-collapse>.list-group {
  border-top: 0;
}
.form-inline .form-group{
  padding-top: 0;
}
.form-default .panel{
  padding-bottom: 5px;
}

.quick_form{
  white-space: nowrap;
}
.quick_form_input .col-sm-2{
  text-align: right;
  padding-left: 0;
}
.quick_form_input .col-sm-10{
  padding-right: 0;
}
.quick_form_input .col-sm-10 .form-control{
  width: 100%;
  height: 30px;
}
div.quick_form_input,
div.quick_form_input+div{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0;
  float: none;
}
.quick_form_btn{
  height: 30px;
  width: 30px;
  float: none !important;
}

.form_cols .panel{
  box-shadow: 0px 0px 6px 0px #a2a5a4;
}
.form_cols .panel-body{
  padding: 0;
}
.form_cols .panel-body__fields{
  padding: 15px;
}
.form_cols .panel-body__fields.panel-body_sm{
  overflow: hidden;
  max-height: 250px;
}
.form_cols .panel-body__fields_more{
  padding: 10px 15px 5px 15px;
  height: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f4+27&amp;0+0,1+28 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(243,243,244,0.96) 27%, rgba(243,243,244,1) 28%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(27%,rgba(243,243,244,0.96)), color-stop(28%,rgba(243,243,244,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(243,243,244,0.96) 27%,rgba(243,243,244,1) 28%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(243,243,244,0.96) 27%,rgba(243,243,244,1) 28%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(243,243,244,0.96) 27%,rgba(243,243,244,1) 28%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(243,243,244,0.96) 27%,rgba(243,243,244,1) 28%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f3f3f4',GradientType=0 ); /* IE6-9 */
}
.form_cols .panel-body__fields_more a,
.form_cols .panel-body__fields_more a.hover,
.form_cols .panel-body__fields_more a.focus,
.form_cols .panel-heading a,
.form_cols .panel-heading a.hover,
.form_cols .panel-heading a.focus{
  text-decoration: none;
}
.form_cols .panel-body__fields_more .glyphicon{
  top: 3px;
}
.form_cols .panel-heading{
  position: relative;
  padding: 15px;
}
.form_cols .panel-heading .btn{
  margin-top: 7px;
}
.form_cols .panel-heading__top_btn{
  position: absolute;
  top: 2px;
  right: 10px;
}

#progress-main {
  display: none;
  width: 200px;
  position: fixed;
  top: 15px;
  left: 50%;
  margin-left: 0px;
  z-index: 150;
}
#progress-main .progress {
  margin: 0;
}

#alert_msg {
  display: none;
  min-width: 200px;
  position: fixed;
  top: 15px;
  left: 50%;
  margin-left: 0px;
  z-index: 150;  
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: transparent;
}

.modal-body .panel{
  box-shadow: none;
}
.modal-body plaintext{
  white-space: normal;
  word-break: break-all;
}

#events-danger {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.table-report {
  background-color: #ffffff;
}
.table-report th,
.table-report td,
.table-report .label {
  font-size: 10px;
  word-wrap:break-word;
  cursor: pointer;
}
.table-report td:last-child {
  cursor: inherit;
}

.table-acceptances tr > td:nth-child(3,4,5,6,7){
  white-space: nowrap;
}
@media print {
  .table-acceptances tr > td:nth-child(3,4,5,6,7){
    white-space: nowrap;
  }
}

.table-dropdown td{
  cursor: pointer;
}
.table-dropdown td.td-dropdown{
  width: 0px !important;
  padding: 0;
  border-right: 0;
  vertical-align: middle;
}
.table-dropdown td.td-dropdown + td,
.table-dropdown td.td-dropdown + th{
  border-left: 0;
}

.ui-datepicker{
  width: 400px;
}
.ui-datepicker table{
  width: 50%;
  float: left;
}
.ui-datepicker .ui-timepicker-div,
.ui-datepicker .ui-datepicker-buttonpane{
  width: 48%;
  float: right;
}
.ui-datepicker dd{
  margin-right: 15px;
}

.ui-menu .ui-menu-item {
  font-size: 12px;
}

.has-error .chosen-container-single .chosen-single{
  border-color: #f04124;
}

@media (max-width: 1280px) {
  .navbar-static-side {
    width: 50px;
  }
  #page-wrapper {
    margin: 0 0 0 50px;
  }
  .nav-header {
    padding: 15px 0;
    text-align: center;
  }
  #side-menu > li > a {
    padding-left: 15px;
  }
  #side-menu > li.active > a {
    padding-left: 11px;
  }
  #side-menu .glyphicon{
    font-size: 18px;
  }
  .visible-lg-block {
    display: none !important;
  }
  .hidden-lg {
    display: block !important;
  }
}

@media print {
  #page-wrapper {
    margin: 0;
  }
  .btn{
    display: none;
  }
}