html,body {
  width: 100%;
  height: 100%;
}
body {
  color: #676a6c;
  font-size: 13px;
}
#wrapper{
  min-height: 100%;
  position: relative;
}
.snow-bg {
  background-color: #FFFAFA;
}
.gray-bg {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.font-bold {
  font-weight: 600;
}
.navbar-static-side.navbar-default {
  background:none;
  background-color:#2f4050;
  border-radius: 0;  
}
.navbar-static-side {
  position: absolute;
  width: 220px;
  height: 100%;
  z-index: 101;
}
#page-wrapper {
  margin: 0 0 0 220px;
  position: inherit;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  background:none;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover{
  background: none;
  border-color: #2f4050;  
}
.nav-header {
  background-color: #233645;
  padding: 15px 0 15px 30px;
}
.nav-header a {
  color: #dfe4ed;
}
.nav-header .dropdown {
  margin-top: 6px;
}
.nav-header a:hover,
.nav-header a:focus {
  text-decoration: none;
  outline: none;
}
#side-menu > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}
#side-menu  > li > a:hover,
#side-menu  > li > a:focus {
  color: #ffffff;
  background-color: #293846;
}
#side-menu .glyphicon{
  padding-right:5px; 
  font-size: 18px;
}
#side-menu .nav-header .dropdown .glyphicon{
  font-size: inherit;
}
#side-menu .nav-header .dropdown .glyphicon-align-justify{
  font-size: 20px;
  padding-right:0px; 
}
.dropdown-menu {
  font-size: 12px;
}
.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  font-weight: normal;
  line-height: 25px;
  margin: 4px;
  text-align: left;
}
.table-btn-group .btn{
  padding:0 3px;
}
.panel-heading-title {
  font-size: 16px;
}
.panel-heading-title .glyphicon {
  padding-right: 5px;
}
.panel .panel-heading{
  border-bottom: 1px solid #ecf0f1;
}

@media (max-width: 992px) {
  .navbar-static-side {
    width: 70px;
  }
  #page-wrapper {
    margin: 0 0 0 70px;
  }
  .nav-header {
    padding: 15px 0;
    text-align: center;
  }
}