.components-installed-icon {
  background-image: url(/components/components/media/installed.png);
}
.components-uninstalled-icon {
  background-image: url(/components/components/media/uninstalled.png);
}
.components-installed,
.components-uninstalled {
  margin-left: 44px;
}

.components-refresher {
  display: block;
  float: right;
  margin-left: 14px;
}