.accounts-title {
  background-image: url(/components/accounts/media/icon.png);
}
.accounts-groups-icon {
  background-image: url(/components/accounts/media/group.png);
}
.accounts-users-icon {
  background-image: url(/components/accounts/media/user.png);
}
.accounts-user_params-icon {
  background-image: url(/components/accounts/media/user_params.png);
}
.arrow_up {
  background-image: url(/components/accounts/media/arrow_up.png);
}
.arrow_down {
  background-image: url(/components/accounts/media/arrow_down.png);
}
.tags a{
  display:block;
  float:left;
  padding:0 10px;
}
.name,.param {
  display:block;
  float:left;
}
.name {
  width:250px;
}
.param {
  width:150px;
  text-align:center;
}