.forms-title {
  background-image: url(/components/forms/media/form.png);
}

.forms-field_i_s {
  background-image: url(/components/forms/media/field-small.png);
}

.fields-title {
  background-image: url(/components/forms/media/field.png);
}

.forms-types-title {
  background-image: url(/components/forms/media/form-type.png);
}

.chzn-results li {
  background-repeat: no-repeat;
  background-position: 1px 5px;
}

.option-text,
.option-text.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-text.png);
}

.option-textarea,
.option-textarea.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-textarea.png);
}

.option-password,
.option-password.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-password.png);
}

.option-captcha,
.option-captcha.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-captcha.png);
}

.option-hidden,
.option-hidden.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-hidden.png);
}

.option-file,
.option-file.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-file.png);
}

.option-checkbox,
.option-checkbox.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-checkbox.png);
}

.option-radio,
.option-radio.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-radio.png);
}

.option-select,
.option-select.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-select.png);
}

.option-submit,
.option-submit.highlighted {
  padding-left: 20px !important;
  background-image: url(/components/forms/media/option-submit.png);
}