.projects-title {
  background-image: url(/components/projects/media/www_page.png);
}
.projects-page-container {
  margin-left: 20px;
}
.world_link_icon {
  background-image: url(/components/projects/media/world_link.png);
}
.projects-icon-small {
  background-image: url(/components/projects/media/www_page_small.png);
  display: block;
  padding-left: 30px;
}
#home {
  float: right;
  line-height: 40px;
  margin-right: 40px;
  color: #fff;
  font-size: 15px;
}