.publication_one {
}
.publication_one .title{
  display:block;
	font-weight:bold;
	padding-bottom:10px;
	color:#303030;
	text-decoration:none;
}
.publication_one .img {
  width:180px;
  height:135px;
  padding:0 15px 10px 0;
  float:left;
  border:0;
}
.publication_one img {
  margin:0 auto;
}
.all {
  padding-bottom:15px;
}
.all .img {
  width:150px;
  border:0;
  float:left;
}

.last_news {
  background-color:#f0f8f9;
  padding-left:10px;
  padding-bottom:10px;
}
.last_news .main_title{  
  padding-top:15px;
  font-family:bickham_script_threeregular;
  font-size:40px;
  line-height:50px;
  color:#a62d50;  
  text-align:center;
}
.last_news .date{
	padding-left:10px;
	background:transparent url(/images/news_title_left.png) left top no-repeat; 
  margin-bottom:10px;
}
.last_news .date .bg{
  height:18px;
	background-color:#028695;
  font-size:13px;
  color:#ffffff;
  padding-top:2px;
}
.last_news .news_one{
  margin-bottom:30px;
}
.last_news .desc{
  padding-right:10px;
}
.all_news{
  padding:0 10px;
  font-size:13px;
  text-decoration:none;
  color:#a62d50;
}
a.more {
  font-size:13px;
  text-decoration:none;
  color:#a62d50;
}

ul.pagination {
  margin: 0;
  padding: 0;
	float:right;
}
.pagination li {
  margin: 0;
  margin-right: 5px;
  height:  20px !important;
  line-height:  20px !important;
  list-style-type: none;
	font-family:Tahoma !important;
  font-size: 14px !important;
  overflow: hidden !important;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}
.pagination li.text {
  font-size: 12px !important;
}
li.pagination_item {
  padding: 0px !important;
  background-color: transparent !important;
  color:#878787;
}
li.pagination_left a, li.pagination_right a, li.pagination_left_off, li.pagination_right_off {
  display: block;
  height: 20px !important;
  width: 20px !important;
}
li.pagination_left {
  background-image: url(/adm/images/pagination/page_prev.png);
}
li.pagination_right {
  background-image: url(/adm/images/pagination/page_next.png);
}
li.pagination_left_off {
  background-image: url(/adm/images/pagination/page_prev_off.png);
}
li.pagination_right_off {
  background-image: url(/adm/images/pagination/page_next_off.png);
}
.pagination li a{
  text-decoration:none;
  color:#433e38;
}
.pagination li a:hover{
  color:#000000;
}
.public {
  margin:5px;
  float:right
}