#default-generated-sheet-loading,
#default-generated-sheet {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#default-generated-sheet-loading {
  background: url(/adm/images/loading_big_black.gif);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
}

#default-generated-sheet {
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 1001;
}